<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Register New Supervisor</title>

</head>
<body>
<h2>Register New Supervisor</h2>
<form action="/returnSupervisorData" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <button type="submit">Register</button>
    <div class="button-container">
        <a href="javascript:history.go(-1);">Back</a>

    </div>
</form>
</body>
</html>
