<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <h1>Register</h1>
    <div class="button-container">
        <form action="signInSupervisorPage" method="get">
            <button type="submit">Sign In</button>
        </form>
        <form action="enterAsAdmin" method="get">
            <button type="submit">Sign in as an admin</button>
        </form>
    </div>

    <br>
    <br>

    <div class="button-container">
        <form action="registerNewSupervisor" method="get">
        <a href="registerNewSupervisor">Register a new Supervisor</a>
        </form>

    </div>

</div>
</body>
</html>